:host {
  display: block;
}

.product-form-grid {
  .code-field {
    grid-column: span 3;
  }

  .description-field {
    grid-column: span 6;
  }

  .stock-field {
    grid-column: span 3;
  }
}

@media (max-width: 1000px) {
  .product-form-grid {
    .code-field,
    .stock-field {
      grid-column: span 4;
    }

    .description-field {
      grid-column: span 8;
    }
  }
}

@media (max-width: 700px) {
  .product-form-grid {
    .code-field,
    .description-field,
    .stock-field {
      grid-column: span 12;
    }
  }
}
